*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction:column ;
    height: 100vh;
    align-self: center;
    
}

.top-right{
    margin: 5px;
    cursor: pointer;
    display: flex;
   justify-content: space-between;
    position: fixed;
    right: 0;
    color: black;
    font-display: none;
    
   }
.header-icons, .apps {
    margin-left: 5px;
}
#searchbar{
    height: 25px;
    width: 30vw;
    border: none;
    padding: 12px;
    outline: none;
    

}
.search-input{
    height: 20px;
    width:35vw ;
    border-radius: 40px;
    padding: 10px 15px;
    align-items: center;
    margin-top: 0px;
    border: 1px solid lightgrey;

display: flex;
color: gray;

}

.lense{
    padding: 0px;
    cursor: pointer;
      
}
.mic{
    padding-left: 65px;
    display: flex;
    cursor: pointer;

}
body, section{
    align-items: center;
   position: center;
 
    
}
.logo{
   
   width:400px;
   align-content: center;
   margin-top: 40%;
 
   
}
.last-buttons{
    margin: 30px;
    
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.google-search{
    margin-right: 40px;
    cursor: pointer;
    margin-top: 40px;
  border: none;
  padding: 10px;
}
.lucky{
    cursor: pointer; 
    margin-top: 40px;
    border: none;
    padding: 10px;
}
.logo .search-input{
    padding-top: 45%;
    padding-bottom: 45%;
}
.logo .search-input{
    vertical-align: middle;
}